<section>
    <h2>Create New Blog Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-body">Blog Body</label>
            <textarea name="post-body" id="post-body" cols="75" rows="10"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

<script src="/javascript/submit-post.js"></script>