<h1>{{username}}'s Dashboard</h1>
<button id="new_post" type="button" class="btn">Create Post!</button>
<section>
    <h2>Your Posts</h2>
    {{#if posts.length}}
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-headline post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
    {{else}}
    <h4>Click "Create Post" to write your first blog!</h4>
    {{/if}}
</section>

<script src="/javascript/new-post.js"></script>